<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>

    <link rel="stylesheet" href="/static/css/style.css" />
    <title>CalPI</title>

</head>
<body link="#ffffff" vlink="#ffff00">
  <div id="container">
    <header>
    </header>

    <div id="body">
      <div class="center">
        {% block content %}{% endblock %}
      </div>
    </div>

    <footer id="footer">
      <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
      <script src="static/js/googleAuth.js" type="text/javascript"></script>
      <script src="static/js/canvas.js" type="text/javascript"></script>
      <script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
    </footer>
    <button id="authorize-button">Auth</button>
  </div>
</body>

</html>
