html,
body {
   background-color: black;
   color: white;
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}
header {
   color: black;
   background:#ff0;
   padding:10px;
   padding-left: 100px;
   font-size: 24px;
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
}

.center {
	margin:0 auto;
	max-width: 960px;
}

#imgWrapper {
   width: 960px;
   margin: 0 auto;
   position: relative;
}

#imgWrapper img {
   display: block;
   margin: 0 auto;
}

canvas {
   position: absolute;
   top: 0;
   left: 0;
   margin: 0 auto;
}

#prompts {
   color: black;
   display: absolute;
   top: 100px;
   width: 300px;
   left: -150px;
   background: white;
   z-index: 99;
}